@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../font/HelveticaNeue-UltraLight.ttf"); /* EOT file for IE */
}

body {
    background-color: black;
    color: #fff;
    font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

h1 {
    font-size: 2cm;
}

dt {
    font-weight: 600;
}

/* Colors */
.light-grey {
    color: #ccc;
}

.grey {
    color: #999;
}

/* Displays */
.sleep-cover {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.container {
    z-index: -1; /* so things are still selectable */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.listening, .interim-result {
    font-family: 'Open Sans', sans-serif;
}

.top-left {
    float: left;
}

.date {
    font-size: 0.85cm;
}

.time {
    font-size: 2cm;
}

.top-right {
    float: right;
}

.middle-center {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.bottom-center {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 0.8cm;
}

.commands {
    width: 15cm;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul.calendar {
    list-style: none;
    font-size: 22px;
    margin-left: 10px;
    padding:0;
}

.calendar .event{
    margin-bottom: 10px;
}

.calendar span {
    display: inline-block;
}

.calendar span.day {
    font-weight: bold;
    width: 120px;
    vertical-align: top;
}

.calendar span.summary{
    max-width: 400px;
}

.calendar .event-details .details{
    font-size: 12px;
    padding-left: 135px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.weather {
    margin-left: auto;
    display: inline-block;
    text-align: right;
}

.icon
{
    font-size: 2cm;
}

.weather-week-descriptor {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    max-width: 55%;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: justify;
}

.weather-today .info-box
{
    display: inline-block;
}

.weather-today .info-box .info
{
    display: table-row;
    font-size: 0.5cm;
}

.weather-today .icon-box
{
    display: inline-block;
}

.weather-today .icon-box .icon {
    display: table-row;
    font-size: 0.8cm;
}

.weather-today .icon-box .sup-box
{
    display: table-row;
    font-size: 0.4cm;
}

.weather-today .icon-box .sup-box .sup-icon {
    display: inline-block;
    font-size: 0.4cm;
}

.weather-today .temperature-box
{
    display: inline-block;
}


.weather-today .temperature {
    font-size: 1.3cm;
}

.weather-today .temperature-box .temperature
{
    display: table-row;
    font-size: 0.5cm;
}

.weather-week {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.1cm;
    font-size: 0.8cm;
    margin-bottom: 0.05cm;
}

.weather-week .weather-week-day
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.1cm;
}

.weather-week .weather-week-day .icon
{
    flex: 1;
    vertical-align: middle;
    font-size: 0.8cm;
}

.weather-week .weather-week-day .day {
    flex: 1;
    text-align: left;
    vertical-align: middle;
    margin-right: 0.1cm;
}

.weather-week .weather-week-day .temperature {
    flex: 1;
    vertical-align: middle;
}

.weather-week .weather-week-day .temperature-box
{
    flex: 1;
    text-align: right;
    vertical-align: middle;
}

.weather-week .weather-week-day .temperature-box .temperature
{
    vertical-align: middle;
    display: table-row;
    font-size: 0.5cm;
}

.map {
    height: 25cm;
    max-width: 100%;
}

.map-container {
    height: 25cm;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.map-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 10px 10px #000;
    -moz-box-shadow: inset 0 0 10px 10px #000;
    box-shadow: inset 0 0 10px 10px #000;
    overflow: hidden;
}

.color-block {
    height: 6cm;
    width: 6cm;
    display: inline-block;
    margin: 10px;
    margin-bottom: 0.8cm;
}

.debug-info {
    width: 10cm;
}

/* Animations */
.fade.ng-hide {
    opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
    display: block !important;
}

.fade.ng-hide-remove {
    transition: all ease 1500ms;
}

.fade.ng-hide-add {
    transition: all ease 500ms;
}

.animate-grow {
    max-height: 30cm !important;
}

.animate-grow.ng-hide-add {
    transition: all linear 500ms;
}

.animate-grow.ng-hide-remove {
    transition: all linear 500ms;
}

.animate-grow.ng-hide {
    max-height: 0  !important;
}
